body{
   background-color: aquamarine;
  color; pink;    
  text-aling:center; 
  font-family: arial,sans-serif;
  font-size: 25px;
} 

header{
background: pink;
border: 2px solid black;
padding-top: 40px;
margin: 40px;
}

nav{
    background-color: blue;
    
}

.caja{
    background-color: yellow;
    color: purple;
    
}

footer{
    background-color: green;
    
}

#mano{
    background-color: blue;
}
